#main {
    padding: 32px;
  }

#titlebar {
  display: block;
  position: fixed;
  height: 32px;
  width: calc(100% - 0px);
  background: white;
}
#titlebar {
  padding: 4px;
}
#titlebar #drag-region {
  width: 100%;
  height: 100%;
  -webkit-app-region: drag;
}
#titlebar {
  color: black;
}
#titlebar #drag-region {
  display: grid;
  grid-template-columns: auto 138px;
}
#window-title {
  grid-column: 1;
  display: flex;
  align-items: center;
  margin-left: 8px;
  overflow-x: hidden;
  font-size: 12px;
}
#window-title span {
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.5;
}
#window-controls {
  display: grid;
  grid-template-columns: repeat(3, 46px);
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  font-family: "Segoe MDL2 Assets";
  font-size: 10px;
}
#window-controls {
  -webkit-app-region: no-drag;
}
#window-controls .button {
  grid-row: 1 / span 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
#window-controls .button {
  user-select: none;
  cursor: default;
  color: rgb(0, 0, 0);
}
#window-controls .button:hover {
  background: black;
  color: #FFF;
}
#window-controls #min-button {
  grid-column: 1;
}
#window-controls #max-button, #window-controls #restore-button {
  grid-column: 2;
}
#window-controls #restore-button {
  display: none;
}
#window-controls #close-button {
  grid-column: 3;
}
#window-controls #close-button:hover {
  background: black;
}

/* Scroll bar*/
::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}
::-webkit-scrollbar-track
{
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}
::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #888;
}
::-webkit-scrollbar-thumb:hover 
{
    background: #555; 
}