/* Import Montserrat font */
@import url('../../Dependencies/Montserrat/fonts/webfonts/Montserrat.css');
html {
    overflow-y: scroll;
}
/* Main content area */
#main {
    padding: 32px;
    padding-top: 48px;
    font-family: 'Montserrat';
}
/* Draggable and selectable regions */
body {
    -webkit-app-region: drag;
    -webkit-user-select: none;
}
button {
    -webkit-app-region: no-drag;
}
input {
    -webkit-app-region: no-drag;
}
.textfile {
    font-family: monospace;
    -webkit-app-region: no-drag;
    -webkit-user-select: text;
    white-space: pre;
    width: fit-content;
    padding-right: 5px;
    padding-left: 5px;
}
.btn-container {
    display: flex;
    align-items: center;
    height: 32px;
}
.btn-container button {
    margin-right: 6px;
}
/* Scroll bar*/
::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}
::-webkit-scrollbar-thumb {
    background-color: #6c757d;
}
::-webkit-scrollbar-thumb:hover {
    background: #5a6268;
}
